[pull]
	rebase = true

[push]
	default = simple

[merge]
	conflictstyle = zdiff3

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[core]
	excludesfile = ~/.gitignore_global

[user]
	name = Sean Dewar
	email = 6256228+seandewar@users.noreply.github.com
	; email = sean@dewar.io

	; fingerprint hash of the public key; no need for me to hide this :)
	signingkey = 04C8CC2938F069D7B194083908CC2C83AD41B581

[alias]
	a = add
	b = branch
	c = commit
	co = checkout
	cp = cherry-pick
	d = diff
	r = rebase
	s = status
	sh = show

[include]
	path = ~/.gitconfig_local
