[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "neovim/.local/share/nvim/site/pack/minpac/opt/minpac"]
	path = neovim/.local/share/nvim/site/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
