# script-generated symlinks for vim
/.config/nvim/vimrc
/.config/nvim/gvimrc

# Windows symlinks from ~\.config\dotfiles\make_windows_symlinks.bat
/AppData/Local/nvim/
/vimfiles/
/_ideavimrc

# Linux symlinks from ~/.config/dotfiles/make_linux_symlinks.sh
/.vim/

# system-specific vim configuration files
/.config/nvim/init_local.vim
/.config/nvim/ginit_local.vim
