""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"  Sean Dewar's IdeaVim Plugin Configuration <http://github.com/seandewar>     "
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

set visualbell " not implemented, but disables the bell noise
set ignorecase
set scrolloff=1
set clipboard=unnamedplus,unnamed

nnoremap <c-s> :write<cr>
inoremap <c-s> <c-\><c-o>:write<cr>
nnoremap <leader>/ :set nohlsearch<cr>
